/* stylelint-disable comment-whitespace-inside, comment-empty-line-before */
/*--------------------------------------------------------------------------.
|   _____                                    _   __  __      _              |
|  |  __ \                                  | | |  \/  |    | |             |
|  | |__) |_ _ ___ _____      _____  _ __ __| | | \  / | ___| |_ ___ _ __   |
|  |  ___/ _` / __/ __\ \ /\ / / _ \| '__/ _` | | |\/| |/ _ \ __/ _ \ '__|  |
|  | |  | (_| \__ \__ \\ V  V / (_) | | | (_| | | |  | |  __/ ||  __/ |     |
|  |_|   \__,_|___/___/ \_/\_/ \___/|_|  \__,_| |_|  |_|\___|\__\___|_|     |
|                                                                           |
+---------------------------------------------------------------------------+
| Styles for the password meter                                             |
'--------------------------------------------------------------------------*/
/* stylelint-enable comment-whitespace-inside, comment-empty-line-before */

meter.password_meter {
  /* Reset the default appearance */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: meter;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: meterbar;
  /* stylelint-disable-next-line declaration-property-value-keyword-no-deprecated */
  appearance: meter;

  /* stylelint-disable-next-line declaration-empty-line-before */
  height: 1.5em;
  border-radius: 5px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;

  /* stylelint-disable-next-line declaration-empty-line-before */
  background: none;
  background-color: $input-background-color;

  &::-webkit-meter-bar {
    background: none;
    background-color: $input-background-color;
  }

  &[value='1'] {
    &::-webkit-meter-optimum-value {
      background: darkred;
    }
    /* stylelint-disable-next-line rule-empty-line-before */
    &::-moz-meter-bar {
      background: darkred;
    }
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  &[value='2'] {
    &::-webkit-meter-optimum-value {
      background: red;
    }
    /* stylelint-disable-next-line rule-empty-line-before */
    &::-moz-meter-bar {
      background: red;
    }
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  &[value='3'] {
    &::-webkit-meter-optimum-value {
      background: yellow;
    }
    /* stylelint-disable-next-line rule-empty-line-before */
    &::-moz-meter-bar {
      background: yellow;
    }
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  &[value='4'] {
    &::-webkit-meter-optimum-value {
      background: lightgreen;
    }
    /* stylelint-disable-next-line rule-empty-line-before */
    &::-moz-meter-bar {
      background: lightgreen;
    }
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  &[value='5'] {
    &::-webkit-meter-optimum-value {
      background: green;
    }
    /* stylelint-disable-next-line rule-empty-line-before */
    &::-moz-meter-bar {
      background: green;
    }
  }
}
